.column {
  float: right;
  width: 20%;
  padding: 1px;
}

.mytext {
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: italic;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn_random {
  position: absolute;
  transition: 0.5s ease;
  top: 70%;
  left: 20%;
  background-color: rgb(141, 170, 145);
  border: 2px solid rgb(120, 132, 117);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn_hide_unhide_text {
  position: absolute;
  transition: 0.5s ease;
  top: 70%;
  left: 40%;
  background-color: rgb(141, 170, 145);
  border: 2px solid rgb(120, 132, 117);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn_hide_unhide_image {
  position: absolute;
  transition: 0.5s ease;
  top: 70%;
  left: 60%;
  background-color: rgb(141, 170, 145);
  border: 2px solid rgb(120, 132, 117);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn_hide_unhide_text:hover {
  color: rgb(143, 135, 135);
}

.btn_hide_unhide_image:hover {
  color: rgb(143, 135, 135);
}

.btn_random:hover {
  color: rgb(143, 135, 135);
}
