.videotxt{
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: rgb(30,78,83)
}

hr {
  border: 3px solid rgb(82, 121, 111);
}

.videos {
  width: 1000px;
  height:1900px;
  border: 15px ridge rgb(141, 170, 145);
  padding: 50px;
  margin: 30px;
  line-height: 10px;
  box-shadow: 5px 10px #888888;
  position: absolute;
  top: 15%;
  left: 20%;
  
}

.p3{
  font-size: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.p4{

  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
